@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["nombreUusuario"]</h1>
    <div class="alert alert-success">
        <h2 class="display-4">Soy la Pagina Index</h2>
    </div>
</div>
