
@{
    ViewData["Title"] = "PreRequisitos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">

    <div class="alert alert-success">
        <h2 class="display-4">Soy la Pagina prerequisitos</h2>
    </div>
</div>

